<!-- Featured Categories Section -->
<section class="featured-categories container">
    <div class="row mb-2">
        <div class="col-6 ">
            <p class="mb-20">» Browse Categories:</p>
        </div>
        <div class="col-6 text-end">
            <a href="/soon">More »</a>
        </div>
    </div>
    
    
    <div class="row g-3">
        <div class="col-md">
            <div class="category-box category-box-1 p-0">
                <div class="category-box-svg p-4">
                <i class="fa-solid fa-briefcase"></i>
                <h5 class="mt-2"><a class="link-light" href="/category/proposals">Proposals</a></h5>
            </div>
            </div>
        </div>
        <div class="col-md">
            <div class="category-box category-box-2 p-0">
                <div class="category-box-svg p-4">
                    <i class="fa-solid fa-address-card"></i>
                    <h5 class="mt-2"><a class="link-light" href="/category/newsletter">Newsletter</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="category-box category-box-3 p-0">
                <div class="category-box-svg p-4">
                    <i class="fa-solid fa fa-pie-chart"></i>
                    <h5 class="mt-2"><a class="link-light" href="/category/stationaries">Reports & Profiles</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="category-box category-box-4 p-0">
                <div class="category-box-svg p-4">
                    <i class="fa-solid fa fa-file-text"></i>
                    <h5 class="mt-2"><a class="link-light" href="/category/banners">Banners</a></h5>
                </div>

            </div>
        </div>
        <div class="col-md">
            <div class="category-box category-box-5 p-0">
                <div class="category-box-svg p-4">
                    <i class="fa-solid fa-bullhorn"></i>
                    <h5 class="mt-2"><a class="link-light" href="/category/ads">Social Ads</a></h5>
                </div>
            </div>
        </div>
    </div>
</section>