<!-- New Section -->
<section class="container">
    <row><div class="text-center  py-4">
        
        <h2 class="intro">Welcome to <span class="pink">Canvash</span> template gallery!</h2>
        <p class="text-muted">Discover resources, categories, and sharable content to enhance your experience.</p>
    
    </div>
</row>
</section>

<!-- Intro Section -->
<section class="intro-section container">
    <div class="row g-3">
        <!-- Image -->
        <div class="col-md p-lg-2 p-sd-4">
            <div class="article-box-m d-flex justify-content-center align-items-center">
                
                <h3 class="display-6 mt-2"><span class="display-6"><i class="fa-solid fa-wand-magic-sparkles"></i> <br>
                    We Create</span><br/><span class="fw-bold">Templates</span> </h3>
            </div>
        </div>
        <!-- Articles -->
        <div class="col-md p-lg-2 p-sd-4">
            <div class="article-box">

                <img src="{{ url_for('web.static', filename='images/temp1.png') }}" class="img-fluid zoom-image"
                    alt="Social Posts" width="95%">
                <h5>Social Posts Bundles</h5>
            </div>
        </div>
        <div class="col-md p-lg-2 p-sd-4">
            <div class="article-box">

                <img src="{{ url_for('web.static', filename='images/temp2.png') }}" class="img-fluid zoom-image"
                    alt="Stationaries" width="95%">
                <h5>Stationaries Bundles</h5>
            </div>
        </div>
        <div class="col-md p-lg-2 p-sd-4">
            <div class="article-box">

                <img src="{{ url_for('web.static', filename='images/temp3.png') }}" class="img-fluid zoom-image"
                    alt="Planners" width="95%">
                <h5>Planners Bundles</h5>
            </div>
        </div>

    </div>
</section>